body {
    background-color:tan; 
block{
    height: 10vh;
    width: 10%;
}
}
h1 {text-transform: uppercase;
letter-spacing: 3px;
text-align: center;
color: rgb(180, 78, 221);
text-decoration: underline ;
}

.plus{
    border-radius:50% ;
    
}
main{
    min-height: 55px;
    background-color:;
    width: 90% ;
    margin: 0 auto;}
.flexbox ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.flexbox li {
        list-style: none;
        height: 50px;
        width: 100px;
        background:yellow;
        padding: 0px; ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cpr{
        border-radius: 50%;
    }
    .mbr{
        border-radius: 100000px;
    }
    