body {
    background-color:tan; 
block{
    height: 10vh;
    width: 10%;
}
}
h1 {text-transform: uppercase;
letter-spacing: 3px;
text-align: center;
color: rgb(180, 78, 221);
text-decoration: underline ;
}

img{
    border-radius: 10000px;
    border-top-left-radius: 10000px;
    border-bottom-right-radius: 10000px;
    border-top-left-radius: 10000px;
    border-bottom-left-radius: 10000px; 
}
main{
    min-height: 55px;
    background-color:;
    width: 90% ;
    margin: 0 auto;
.flexbox ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.flexbox li {
        list-style: none;
        height: 50px;
        width: 90px;
        background:yellow;
        padding: 0px; ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    